# To install the required packages, run the following command in main directory of the project:
# pip install -r .\application\requirements.txt

--extra-index-url https://download.pytorch.org/whl/cu128

opencv-python==4.13.0.92
ultralytics==8.4.26
torch==2.10.0+cu128
torchvision==0.25.0+cu128
tensorrt_cu12==10.15.1.29
onnx==1.21.0
onnxruntime-gpu==1.24.4
onnxslim==0.1.91
dearpygui==2.2
numpy==2.4.4
pyserial==3.5
roslibpy==2.0.0
screeninfo==0.8.1
pyautogui==0.9.53
pyinstaller==6.20.0
pynput==1.8.1

bettercam==1.0.0; sys_platform == 'win32'
cupy-cuda12x==13.6.0; sys_platform == 'win32'

mss==10.1.0; sys_platform == 'linux'
evdev==1.9.3; sys_platform == 'linux'