<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
     <xacro:macro name="pret_fi5" params="prefix">
        <link name="pret_fi5_${prefix}">
            <inertial>
                <origin xyz="0 0 0" rpy="${pi/2.0} 0 0"  />
                <mass value="5.395e-03"/>
                <inertia ixx="5.59139e-07" ixy="0.0e+00" ixz="0.0e+00" iyy="5.59139e-07" iyz="0.0e+00" izz="1.6858e-08"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${pi/2.0} 0 0"  />
                <geometry>
                    <mesh filename="package://robot_description/meshes/pret_fi5.stl" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="dark_grey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${pi/2.0} 0 0"  />
                <geometry>
                    <mesh filename="package://robot_description/meshes/pret_fi5.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="rolka_gladka" params="prefix">
        <link name="rolka_gladka_${prefix}">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="4.143e-03"/>
                <inertia ixx="1.32932e-07" ixy="0.0e+00" ixz="-1.213e-18" iyy="1.32932e-07" iyz="0.0e+00" izz="1.17114e-07"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/meshes/rolka_gladka.stl" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/meshes/rolka_gladka.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="rolka_zebata" params="prefix">
        <link name="rolka_zebata_${prefix}">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="3.713e-03"/>
                <inertia ixx="1.21435e-07" ixy="-1.506e-16" ixz="0.0e+00" iyy="1.21435e-07" iyz="0.0e+00" izz="1.02802e-07"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/meshes/rolka_zebata.stl" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="grey" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://robot_description/meshes/rolka_zebata.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="pret_fi3" params="prefix origin_xyz origin_rpy">
        <link name="pret_fi3_${prefix}">
            <inertial>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"  />
                <mass value="5.549e-03"/>
                <inertia ixx="6.242e-09" ixy="2.265e-18" ixz="-2.665e-19" iyy="4.627153e-06" iyz="0.0e+00" izz="4.627153e-06"/>
            </inertial>
            <visual>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"  />
                <geometry>
                    <mesh filename="package://robot_description/meshes/pret_fi3.stl" scale="0.001 0.001 0.001" />
                </geometry>
                <material name="dark_grey" />
            </visual>
            <collision>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"  />
                <geometry>
                    <mesh filename="package://robot_description/meshes/pret_fi3.stl" scale="0.001 0.001 0.001" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>